{% extends "admin/change_list.html" %}

{% load i18n admin_urls static %}

{% block result_list %}
    <table id="result_list">
        <thead>
        <tr>
            {% for header in result_headers %}
                <th{% if header.class_attrib %} class="{{ header.class_attrib }}"{% endif %}{% if header.sortable %} scope="col"{% endif %}>
                    {% if header.sortable and header.url %}<a href="{{ header.url }}"{% endif %}>{{ header.text }}{% if header.sortable and not header.url %}<div class="text-nowrap text-right"></div>{% endif %}{% if header.sortable %}</a>{% endif %}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for obj in result %}
            <tr class="{% cycle 'row1' 'row2' %}"{% if not obj.available %} style="background-color: #F4f4f4;"{% endif %}>
                {% for field_name in list_display %}
                    <td{% if field_name == 'reservar' %} class="text-nowrap text-right"{% endif %}>
                        {% if field_name == 'reservar' %}
                            <a href="{% url 'admin:reservar_unidade' obj.id %}" class="button" title="Reservar">Reservar</a>
                        {% else %}
                            {{ obj|admin_display_field:field_name }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% empty %}
            <tr><td colspan="{{ result_headers|length }}" class="text-center">{% trans 'No items to display' %}</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
